<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
        .nav-pills .nav-link.active,
        .nav-pills .show > .nav-link {
            color: white !important;
            background-color: #dc3545 !important;
        }
        .nav-link {
            color: #dc3545 !important;
        }
    </style>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous"
    >
</head>
<body>
<div class="container my-4">
    <nav class="nav nav-pills flex-column flex-sm-row border-danger border rounded-3">
        <a class="flex-sm-fill text-sm-center nav-link fw-bold" aria-current="page" href="/bloodbanks/op">BLOOD BANK</a>
        <a class="flex-sm-fill text-sm-center nav-link fw-bold active" href="/donors/check">BLOOD DONOR</a>
    </nav>
</div>
<div class="modal position-static d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger"><b>Blood Bank Data</b></h5>
            </div>
            <div class="modal-body">
                <form>
                    

                    <!-- City Select Menu -->
                    <select class="form-select mb-3" id="citySelect" aria-label="Default select example">
                        <option selected>Select City</option>
                        <% for (const city of newcities) { %>
                            <option value="<%= city %>"><%= city %></option>
                        <% } %>
                    </select> 

                    <button type="button" class="btn btn-danger" onclick="filterBloodDonors()">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>

<!-- Table Content -->
<div class="container">
    <table class="table table-bordered border-danger">
        <thead>
            <tr>
                <th scope="col" class="text-white bg-danger">Sr no.</th>
                <th scope="col" class="text-white bg-danger">Blood Donor Name</th>
                <th scope="col" class="text-white bg-danger">Contact</th>
                <th scope="col" class="text-white bg-danger">Location</th>
                <th scope="col" class="text-white bg-danger">Blood Group</th>
            </tr>
        </thead>
        <tbody id="bloodBankTableBody">
            <!-- Blood bank data will be dynamically populated here -->
            <% let serialNumber = 1; %>
            <%  for(var i=0; i<name.length; i++){ %>
                <tr>
                    <th scope="row"><%= serialNumber %></th>
                    <td><%= name[i] %></td>
                    <td><%= contact[i]  %></td>
                    <td><%= location[i]  %></td>
                    <td><%= blood[i]  %></td>
                    
                </tr>
                <% serialNumber++; %>
            <% } %>
            <script> 
                // Define the filterBloodBanks function
                function filterBloodDonors() {
                // Get selected city
                const selectedCity = document.getElementById('citySelect').value;
                const newUrl = `/donors/check/${selectedCity}`
                history.pushState(null, null, newUrl);
                window.location.reload(true);
            
            }
            </script>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>